@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Movie</h1>
    <p class="lead">This is a basic movie database that allows you to input title, release date, genre, price and rating.</p>
</div>